body {
    font-family: Roboto, "Open Sans", sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Beginning of Header section */

.header {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    padding: 10px 220px 10px 110px;
}

.logo a {
    font-size: 24px;
    color: #f9faf8;
    text-decoration: none;
    font-weight: 900;
}

ul {
    margin: 0 0 0 auto;
    display: flex;
    list-style: none;
    padding: 0;
    gap: 20px;
    
}

li {
    margin: 0; 
    padding: 0;
}

li a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

/* Beginning of Hero section */

.hero {
     display: flex;
     background-color: #1f2937;
     padding: 110px 220px 110px 110px;
     gap: 35px;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 10px; 
}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 15px;
}

.text button {
    border: none;
    border-radius: 8px;
    background: #3882f6;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 28px;
}

.hero a {
    color: #f9faf8;
    text-decoration: none;
}

.hero-image {
    margin-left: auto;
}

.hero-image img {
    width: 45vw;
}

/* Beginning of Information section */

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0 90px 0;
}

.media-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.info-headtext {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    align-self: center;
    margin-bottom: 40px;
}

.media {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex-basis: 150px;
}

.information img {
    width: 150px;
    height: auto;
    border-radius: 25px;
    border: 5px solid #3882f6;
    padding: 0;
    width: 150px;
    height: 150px;
}

.info-text {
    text-align: center;
    margin-top: 10px;
}

/* Beginning of Quote section */

.quote {
    background-color: #e5e7eb;
    padding: 100px 300px;
}

.quote-text {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
}

.quote-source {
    font-size: 24px;
    font-weight: 700;
    text-align: right;
}

/* Beginning of Call to Action section */

.ctaction {
    padding: 110px 220px 110px 110px;
}

.ctaction-background {
    background-color: #3882f6;
    padding: 80px 110px;
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /* This solved the button that hace top and bottom unwanted padding */
}

.ctaction-largetext {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

.ctaction-smalltext {
    color: #f9faf8;
    font-size: 18px;
}

.ctaction .button {
    text-decoration: none;
    border: 2px solid #f9faf8;
    border-radius: 8px;
    padding: 8px 28px;
    color: #f9faf8;
    background-color: #3882f6;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

/* Beginning of Footer section */

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright-text {
    color: #f9faf8;
    margin: 40px;
    font-size: 18px;
}